AUTH_FOR_COURSE = "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJmMDA3OW4zIiwiYXVkIjoiaHR0cHM6Ly9hcGkuZGFydG1vdXRoLmVkdSIsImlzcyI6Imh0dHBzOi8vYXBpLmRhcnRtb3V0aC5lZHUvYXBpL2p3dCIsIm5hbWUiOiJCb3BoYSBNLiBVbSIsImV4cCI6MTc0ODU3NzU2OCwiaWF0IjoxNzQ4NTY2NzY4LCJlbWFpbCI6IkJvcGhhLk0uVW0uMjhAZGFydG1vdXRoLmVkdSJ9.lhsBmsVcZsszZJm-iNh2bKNM0Nlv8X7oqIHHMS_8jHhYSKUorVquDw2zbCnYtaMG4kZdenwFFaFgL2rDJjvTsJWX7za37hnDmpzdQcAY9Tebwx-9VlizgxsYekKf6jbA7sViycxnW09XTI5AEyYkmanVL1tyE_Yow8GipUMW0Ix1ku938pMhDOEcv-hZcTXp5KPNvk5nitzLYgE1_1-49JP-VgdHZOlHatpJbR_0qHpzTOQ_FtkA0gZ_Fznz2u2qID5FsMqrcQUEkX77PQlWmoAkzDfCJkjC-Dcy0comUTTKtGh6w2QwWL1qh3Xd2YYR1ckJM4nKbG_M7FXTGXQw5w"