@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

.header-title {
  font-family: "Itim", cursive;
  font-size: 40px;
  text-align: center;
  font-style: regular;
  font-weight: 400;
  background-color: #3b6838;
  color:white;
}

.hamburger {
  cursor: pointer;
  margin: 5px 30px;
  padding: 7px;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  z-index: 1100;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #3b6838;
}

.menu-button {
  font-size: 1.5rem;
}

.view-toggle button {
  margin-left: 0.5rem;
  padding: 0.3rem 0.6rem;
}

/* .view-toggle .active {
} */

.button-style-t {
  background-color: #edece4;
  border: 2px solid #66451c;
  border-radius: 10px;
  color: #66451c;
}

.button-style-g {
  background-color: #edece4;
  padding-left: 50rem;
  border: 2px solid #10300e;
  border-radius: 10px;
  color: #10300e;
}
